<style>
.desc {
  padding-left: 10px;
  border-left: 2px solid #ddd;
}
.form-group label {
  display: block;
}
.csv:after {
  color: inherit;
  content: ",";
}
.csv:last-child:after {
  content: "";
}
.image {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  float: right;
  width: 200px;
  height: 200px;
  border-radius: 100000px;
  background-attachment: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 640px) {
  .image {
    float: inherit;
    margin: 20px auto 0;
    display: block;
  }
}
.bio {
  overflow: hidden;
}
</style>

<h1 class="page-header">CSSS Elections</h1>

<p>Welcome, {{.User}}! This is the Computer Science Student Societies online election system.</p>

<p>
If you have any questions or issues please reach out to the elections officer
(<a href="mailto:{{.Email}}">{{.Email}}</a>).
</p>

<h2>Vote</h2>

<form method="POST" action="vote" method="post">
  <div class="form-group">
    <label for="name">Full Name</label>
    <input id="name" name="name" type="text" placeholder="Your Name">
  </div>

  <div class="form-group">
    <label for="student_number">Student Number</label>
    <input id="student_number" name="student_number" type="number" placeholder="00000000">
  </div>

  {{range .Positions}}
    {{ $name := .Name }}
    <h3 id="{{slug $name}}">{{$name}}</h3>

    <div class="desc">
    {{md .Desc}}
    </div>

    {{$numCandidates := len .Candidates}}

    {{range (shuffle .Candidates)}}
      <div>
        {{$id := slug (concat $name "-" .)}}

        {{if le $numCandidates 1}}
          <input id="{{$id}}" name="{{$name}}" type="radio" value="{{.}}" group="{{$name}}">
        {{else}}
          <select id="{{$id}}" name="{{$id}}" group="{{$name}}">
            <option value="">--</option>
            {{range (seq $numCandidates)}}
              <option value="{{.}}">{{.}}</option>
            {{end}}
          </select>
        {{end}}
        <label for="{{$id}}">{{.}}</label>
        {{if hasBio .}}
        <a href="#{{slug .}}">Biography</a>
        {{end}}
      </div>
    {{end}}

    <div>
      {{$id := slug (concat $name "-" "reopen")}}
      <input id="{{$id}}" name="{{$name}}" type="radio" value="Reopen Nominations" group="{{$name}}">
      <label for="{{$id}}">Reopen Nominations</label>
    </div>

    <div>
      {{$id := slug (concat $name "-abstain")}}
      <input id="{{$id}}" name="{{$name}}" type="radio" value="Abstain" group="{{$name}}">
      <label for="{{$id}}">Abstain</label>
    </div>
  {{end}}

  <br>
  <br>

  <input type="submit" value="Submit">
</form>

<h2>Biographies</h2>

{{range (shuffle .Bios)}}
  <div class="bio">
    {{if ne .Image ""}}
    <a href="{{.Image}}" target="_blank" class="image" style="background-image: url({{.Image}})"></a>
    {{end}}
    <h3 id="{{slug .Name}}">{{.Name}}</h3>
    <p>Running for:
      {{range .Positions}}
        <a class="csv" href="#{{slug .}}">{{.}}</a>
      {{end}}
    </p>
    <div class="desc">
      {{md .Desc}}
    </div>
  </div>
{{end}}

<script>
const inputs = Array.from(document.querySelectorAll('input[group], select[group]'))
inputs.forEach(function (input) {
  input.addEventListener('change', function (e) {
    const el = e.target

    inputs.forEach(function (input) {
      if (input.getAttribute('group') !== el.getAttribute('group') || input === el) {
        return
      }

      if (input.type === 'radio') {
        input.checked = false
      } else if (el.type === 'radio' && input.nodeName === 'SELECT') {
        input.value = ''
      }
    })
  })
})
</script>
