<h1 class="page-header">CSSS Elections</h1>

<p>Welcome to the Computer Science Student Society's online election system.</p>

<p>To vote you will need to be a Computer Science student, or be intending to go
into Computer Science and have taken CPSC 110 and CPSC 121 in the past year.

<p>If you don't have a CS account, you can get one from <a
    href="https://www.cs.ubc.ca/getacct/">getacct</a>.
  If you run into issues logging in, please try running <a
    href="https://www.cs.ubc.ca/getacct/">getacct</a> or using a desktop
  browser. Links opened in the Messenger web view are known to break login.
</p>

<p style="font-size: 16pt; text-align: center; margin: 30px;">
  <a href="elections.cgi/">Login and Vote</a>
</p>

<img src="cover.png" style="max-width: 100%">
